<div>
  <img class="img-beers" src="{{this.image_url}}" alt="{{this.name}}">
  <h2 class="h2-beers">{{this.name}}</h2>
  <p class="description-beers">{{this.description}}</p>
  <p class="tagline-beers">{{this.tagline}}</p>
  </div>



