
  {{!-- <h1>Beers</h1>
  {{#each beers}}
  <div>
    <img src="{{this.image_url}}" alt="{{this.name}}">
    <h2>{{this.name}}</h2>
    <p>{{this.description}}</p>
    <p>{{this.tagline}}</p>
</div>
{{/each}} --}}

  <h1>Beers</h1>
  {{#each beers}}
  <div>
    {{> beerpartial this}}
</div>
{{/each}}



