
{{!-- <div>
  <img src="{{ theBeer.image_url }}" alt="{{ theBeer.name }}">
  <h2>{{ theBeer.name }}</h2>
  <p>{{ theBeer.description }}</p>
  <p>{{ theBeer.tagline }}</p>
  <p>Food Pairing: {{ theBeer.food_pairing }}</p>
  <p>Brewer Tips: {{ theBeer.brewers_tips }}</p>
</div> --}}


<div class="parent-container">
  {{> beerpartial this}}
  <p>Food Pairing: {{ theBeer.food_pairing }}</p>
  <p>Brewer Tips: {{ theBeer.brewers_tips }}</p>
</div>
